/* common shared styles */

body {
    font-family: 'Mulish', sans-serif;
    margin: 0 135px;
    color: rgba(19, 19, 24, 0.70);
}

.btn-primary {
    width: 180px;
    height: 54px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 700;
    border: 0;
}

.section-title {
    margin-top: 0;
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.section-info {
    line-height: 26px;
    margin-bottom: 20px;
    /* 162.5% */
}

.tour-content li {
    line-height: 26px;
}

/* nav styles */
nav {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 300px;
}

nav img {
    width: 48px;
    height: 56.008px;
}

.nav-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 45px;
    font-size: 1.2rem;
    font-weight: 400;
}

nav li a {
    color: #424247;
    text-decoration: none;
}

/* banner section styles */
.banner-container {
    margin-bottom: 170px;
    padding-bottom: 100px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/banner-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
}

.banner-title {
    padding-top: 100px;
    margin-bottom: 50px;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-info {
    padding: 0 500px 50px;
    color: #FFF;
    line-height: 26px;
    /* 162.5% */
}

.banner-form-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* border-radius: 8px; */
    /* background: rgba(255, 255, 255, 0.30); */
}

.banner-form {
    border-radius: 8px;
    border: 16px solid rgba(255, 255, 255, 0.30);
    display: inline-flex;
    gap: 25px;

}

.banner-form input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}

/* tour section styles */
.tour-container {
    margin-bottom: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
}

.tour-content {
    width: 50%;
}

.tour-img-container {
    padding-right: 100px;
}

/* destination section styles */
.destination-content {
    text-align: center;
}

.destination-collage {
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 25px;
}

.collage-row {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.card {
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-1 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 5.png);
    background-size: cover;
}

#card-2 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 8.png);
    background-size: cover;
}

#card-3 {
    width: 60%;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 6.png);
    background-size: cover;
}

#card-4 {
    width: 120%;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 7.png);
    background-size: cover;
}

#card-5 {
    width: 50%;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 9.png);
    background-size: cover;
}

#card-6 {
    width: 70%;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 11.png);
    background-size: cover;
}

#card-7 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 10.png);
    background-size: cover;
}

.card-title {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 800;
}

/* .card img {
    width: 100%;
    height: 100%;
} */






/* responsive styles - smaller devices */

@media screen and (max-width:600px) {
    body {
        margin: 0;
        padding: 0 20px;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        display: none;
    }

    .banner-container {
        margin: 30px 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .banner-title {
        padding: 0;
        font-size: 2rem;
        text-align: center;
    }

    .banner-info {
        padding: 0 10px;
        text-align: center;
    }

    .banner-form {
        flex-direction: column;
    }

    .banner-form input {
        width: 250px;
    }

    #btn-banner {
        width: 250px;
    }

    .tour-container {
        flex-direction: column;
        padding: 0;
    }

    .tour-content {
        width: 100%;
    }

    .tour-img-container {
        margin-top: 30px;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .tour-img-container img {
        width: 320px;
        height: 320px;
    }

    .destination-collage {
        display: flex;
        flex-direction: column;
    }

    .collage-row {
        flex-direction: column;
    }

    .card,
    #card-3,
    #card-4,
    #card-5,
    #card-6 {
        width: 100%;
    }
}




/* responsive styles - smaller devices */

/* @media screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }

    .section-info {
        padding: 0 20px;
    }

    nav {
        flex-direction: column;
    }

    .nav-list {
        margin: 0;
        padding: 0;
        visibility: hidden;
    }

    .banner-container {
        margin: 0 20px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .banner-title {
        padding: 0;
        font-size: 2rem;
    }

    .banner-info {
        padding: 0;
    }

    .banner-form-container {
        margin-bottom: 30px;
    }

    .banner-form {
        flex-direction: column;
    }

    .banner-form input {
        width: 250px;
    }

    #btn-banner {
        width: 250px;
    }

    .tour-container {
        margin-bottom: 25px;
        margin-top: 25px;
        flex-direction: column;
        gap: 50px;
        padding: 0 10px;
    }

    .tour-content {
        width: 100%;
    }

    .tour-img-container img {
        width: 135%;
    }

    .destination-content {
        width: 100%;
    }

    .destination-collage {
        display: flex;
        flex-direction: column;
    }

    .collage-row {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
} */