/* common shared styles */

body {
    font-family: 'Mulish', sans-serif;
    margin: 0 135px;
    color: rgba(19, 19, 24, 0.70);
}

.btn-primary {
    width: 180px;
    height: 54px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 700;
    border: 0;
}

.section-title {
    margin-top: 0;
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.section-info {
    line-height: 26px;
    margin-bottom: 20px;
    /* 162.5% */
}

.tour-content li {
    line-height: 26px;
}

/* nav styles */
nav {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 300px;
}

.nav-img {
    margin-right: 20px;
    width: 48px;
    height: 56.008px;
}

.nav-bar {
    display: none;
}

.nav-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 45px;
    font-size: 1.2rem;
    font-weight: 400;
}

nav li a {
    color: #424247;
    text-decoration: none;
}

/* banner section styles */
.banner-container {
    margin-bottom: 170px;
    padding-bottom: 100px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/banner-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
}

.banner-title {
    padding-top: 100px;
    margin-bottom: 50px;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-info {
    padding: 0 500px 50px;
    color: #FFF;
    line-height: 26px;
    /* 162.5% */
}

.banner-form-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* border-radius: 8px; */
    /* background: rgba(255, 255, 255, 0.30); */
}

.banner-form {
    border-radius: 8px;
    border: 16px solid rgba(255, 255, 255, 0.30);
    display: inline-flex;
    gap: 25px;

}

.banner-form input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}

/* tour section styles */
.tour-container {
    margin-bottom: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
}

.tour-content {
    width: 50%;
}

.tour-img-container {
    padding-right: 100px;
}

/* destination section styles */
.destination-content {
    text-align: center;
}

.destination-collage {
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 25px;
}

.collage-row {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.card {
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-1 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 5.png);
    background-size: cover;
}

#card-2 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 8.png);
    background-size: cover;
}

#card-3 {
    width: 60%;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 6.png);
    background-size: cover;
}

#card-4 {
    width: 120%;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 7.png);
    background-size: cover;
}

#card-5 {
    width: 50%;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 9.png);
    background-size: cover;
}

#card-6 {
    width: 70%;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 11.png);
    background-size: cover;
}

#card-7 {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/Rectangle\ 10.png);
    background-size: cover;
}

.card-title {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 800;
}

/* .card img {
    width: 100%;
    height: 100%;
} */

/* promotion section styles */
.promotion-container {
    margin-bottom: 70px;
}

.promo-content {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.promo-card-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.promo-card {
    padding: 30px;
    width: 40%;
    height: auto;
}

#promo-card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#promo-card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#promo-card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.promo-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

/* deal section styles */
.deal-container {
    margin-bottom: 100px;
}

.deal-content {
    text-align: center;
}

.deal-card {
    margin: 40px 0;
    height: 520px;
    background: url(../images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    justify-content: end;
}

#deal-card-reverse {
    display: flex;
    justify-content: start;
}

.deal-card>div {
    margin: 60px;
    padding: 50px;
    width: 40%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.deal-icon {
    display: flex;
    gap: 10px;
}

.deal-title {
    margin: 10px;
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

/* newsletter section styles */
.newsletter-container {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.newsletter-content {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-box input {
    width: 400px;
    height: 55px;
    flex-shrink: 0;
    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.input-box button {
    width: 400px;
    height: 55px;
    flex-shrink: 0;
}

.newsletter-img-container {
    border-radius: 16px;
    background: url(../images/Rectangle\ 8\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 55%;
    height: 450px;
}

.short-message {
    padding: 5px;
    border-radius: 16px;
    position: relative;
    top: 280px;
    left: 520px;
    text-align: center;
    width: 300px;
    color: #FFF;
    background-color: #FF5400;
    transform: rotate(-19.628deg);
}

.large-text {
    font-size: 2rem;
    font-weight: 800;
}

/* footer styles */
footer {
    margin-bottom: 100px;
    padding: 100px;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    display: flex;
    gap: 30px;
    align-items: center;
}

.footer-logo img {
    width: 48px;
    height: 56.008px;
}

.icon-container {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon {
    width: 50px;
    height: 50px;
}

.icon img {
    width: 100%;
    height: 100%;
}












/* responsive styles - smaller devices */

@media screen and (max-width:600px) {

    /* common */
    body {
        margin: 0;
        padding: 0 20px;
    }

    /* nav */
    nav {
        padding-top: 20px;
        flex-direction: column;
        text-align: center;
    }

    .nav-img {
        width: 10%;
        height: 10%;
    }

    .nav-bar {
        width: 10%;
        height: 10%;
        padding-left: 100px;
        display: block;
    }

    .nav-title {
        font-size: 1rem;
        font-weight: 800;
    }

    nav ul {
        display: none;
    }

    /* banner */
    .banner-container {
        margin: 30px 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .banner-title {
        padding: 0;
        font-size: 2rem;
        text-align: center;
    }

    .banner-info {
        padding: 0 10px;
        text-align: center;
    }

    .banner-form {
        flex-direction: column;
    }

    .banner-form input {
        width: 250px;
    }

    #btn-banner {
        width: 250px;
    }

    /* tour */
    .tour-container {
        flex-direction: column;
        padding: 0;
    }

    .tour-content {
        width: 100%;
    }

    .tour-img-container {
        margin-top: 30px;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .tour-img-container img {
        width: 320px;
        height: 320px;
    }

    /* destination */
    .destination-collage {
        display: flex;
        flex-direction: column;
    }

    .collage-row {
        flex-direction: column;
    }

    .card,
    #card-3,
    #card-4,
    #card-5,
    #card-6 {
        width: 100%;
    }

    /* promotion */
    .promo-card {
        padding: 20px;
        width: 100%;
        height: auto;
    }

    /* deal */
    .deal-card {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    #deal-card-reverse {
        justify-content: end;
    }

    .deal-card>div {
        margin: 10px;
        padding: 5px;
        width: 90%;
        height: 80%;
    }

    .deal-icon {
        flex-wrap: wrap;
    }

    /* newsletter */
    .newsletter-container {
        flex-direction: column;
        gap: 40px;
    }

    .input-box input,
    .input-box button {
        width: 100%;
    }

    .newsletter-img-container {
        width: 100%;
    }

    .short-message {
        position: static;
        margin-top: 250px;
        margin-left: 50px;
        width: 200px;
    }

    /* footer */
    footer {
        padding: 0px;
        margin-bottom: 30px;
    }

    footer p {
        text-align: center;
    }

}